extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Nam non imperdiet dolor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam placerat magna ipsum. Nullam tristique quam at ex iaculis, viverra accumsan libero ultricies. Cras ornare finibus sapien quis auctor.
                p Mauris dignissim congue tempus. Vivamus quis bibendum turpis, et luctus lorem. Donec faucibus est nec augue dapibus laoreet. Sed at arcu efficitur dui scelerisque feugiat in dapibus felis. Fusce risus libero, laoreet a vulputate in, pulvinar eleifend diam. In hac habitasse platea dictumst. Sed imperdiet lacus a dui varius commodo.
                p Phasellus at porta arcu, vitae vestibulum sapien. Fusce consequat interdum eros, vitae interdum enim varius in.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Suspendisse a risus metus. In rutrum quis sapien ut facilisis. Curabitur eleifend erat aliquet, tristique magna sed, faucibus arcu.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Suspendisse a risus metus. In rutrum quis sapien ut facilisis. Curabitur eleifend erat aliquet, tristique magna sed, faucibus arcu.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Suspendisse a risus metus. In rutrum quis sapien ut facilisis. Curabitur eleifend erat aliquet, tristique magna sed, faucibus arcu.